<!DOCTYPE html>
<html>
<head>
    <title>Quan Ly Thu Vien</title>
	<meta charset="utf-8" />
    <link href="/CSS/view/reader.css" rel="stylesheet" />
    <link href="/CSS/library/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <span>151dsasd</span>
    </div>
    <div class="content">
        <div class="content-title">
            <div class="btn-report">

                <div class="btn-report-icon"></div>
                <span> Phản hồi</span>

            </div>
        </div>
        <div class="content-grid">
            <div class="grid-master"></div>
            <div class="grid-detail"></div>
        </div>

    </div>

    <script src="/scripts/library/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/library/popper.min.js"></script>
    <script src="/scripts/library/bootstrap.min.js"></script>

</body>
</html>
